---
import { Image } from 'astro:assets';
import kid from '../../assets/hero-pic2.webp';
import waves from '../../assets/waves-3.webp';
import sun from '../../assets/sun.webp';
import stars from '../../assets/stars.webp';
import dices from '../../assets/dices.webp';
---

<section class='hero-section'>
  <Image class='sun-icon' src={sun} alt='cartoon-sun' />
  <Image class='dices-icon' src={dices} alt='cartoon-dices' />
  <div class='wrapper'>
    <div class='left-side'>
      <h1 class='hero-heading'>Logopedia i Pedagogika w Jednym Miejscu</h1>
      <p class='hero-text'>
        Witaj w miejscu, gdzie komunikacja nabiera nowego wymiaru. Moją pasją
        jest pomoc w pokonywaniu barier językowych, aby każde słowo płynęło
        swobodnie i pewnie
      </p>
      <a aria-label="link to services subpage" class='hero-link' href='/services'>Sprawdź</a>
    </div>
    <div class='right-side'>
      <Image class='right-side-img' src={kid} alt='teacher and kid' />
    </div>
    <Image class='stars-icon' src={stars} alt='cartoon-stars' />
  </div>
  <Image class='waves' src={waves} alt='wave-background' />
</section>

<style>
  .waves {
    height: auto;
    position: absolute;
    bottom: -2px;
  }
  .sun-icon {
    position: absolute;
    top: 0;
    right: 10px;
    width: 50px;
    pointer-events: none;
    object-fit: contain;
    animation: moving 6s ease-in infinite forwards;
  }
  .stars-icon {
    position: absolute;
    bottom: 10px;
    left: 15px;
    pointer-events: none;
    object-fit: contain;
    width: 70px;
    transform: scale(1);
    animation: resize 6s ease-in infinite forwards;
  }
  .dices-icon {
    display: none;
  }
  .hero-section {
    padding-top: 150px;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;
    background-color: var(--rose-bg);
  }
  .wrapper {
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 100;
    justify-content: center;
    align-items: flex-start;
  }
  .left-side {
    position: absolute;
    top: -100px;
    max-width: 600px;
    z-index: 100;
    padding-inline: 30px;
  }
  .hero-heading {
    font-size: clamp(2rem, 3.5vw, 4rem);
    font-family: var(--baloo-font);
    color: var(--text-blue);
    font-weight: 800;
    word-break: break-word;
  }
  .hero-text {
    display: none;
  }
  .hero-link {
    position: relative;
    top: 70px;
    color: var(--wh);
    font-family: var(--baloo-font);
    box-shadow: inset 0px -4px 0px 0px rgb(0 0 0 / 10%);
    background-color: var(--rose-main);
    border-radius: 6px;
    font-size: clamp(1rem, 1.2vw, 2rem);
    padding: 10px 30px;
  }
  .hero-link:hover {
    transition: background-color 0.3s ease-in;
    background-color: var(--text-blue);
    color: var(--wh);
  }
  .right-side {
    display: flex;
    justify-content: flex-end;
  }
  .right-side-img {
    width: 50%;
    object-fit: contain;
    height: auto;
    z-index: 10;
    position: relative;
  }

  @media (min-width: 900px) {
    .sun-icon {
      right: 50px;
      width: 90px;
    }
    .dices-icon {
      position: absolute;
      top: 110px;
      display: block;
      right: 675px;
      pointer-events: none;
      object-fit: contain;
      width: 70px;
      transform: scale(1);
      animation: resize 6s ease-in infinite forwards;
    }
    .left-side {
      position: relative;
      max-width: 50%;
    }
    .right-side-img {
      width: 80%;
    }
    .hero-heading {
      line-height: 66px;
      letter-spacing: 5px;
    }
    .hero-text {
      display: block;
      font-family: var(--mulish-font);
      color: #716b6b;
      line-height: 24px;
      font-size: 18px;
      padding-top: 20px;
    }
    .hero-link {
      top: 50px;
    }
  }
  @keyframes resize {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes moving {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-10px, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
</style>
