---
import Layout from '../layouts/Layout.astro';
import HeadersLinks from '../components/SharedComponents/HeadersLinks';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import offer1 from '../assets/offer1.webp';
import offer2 from '../assets/offer2.webp';
import offer3 from '../assets/offer3.webp';
import offer4 from '../assets/offer4.webp';
import sun from '../assets/sun.webp';
import stars from '../assets/stars.webp';
import dices from '../assets/dices.webp';
---

<Layout title='Logopeda i Pedagog Olsztyn i okolice'>
  <section class='offer-header-container'>
    <div class='offer-header-wrapper'>
      <h1 class='offer-heading'>Zabawa i Nauka - Oferta dla Twojego Dziecka</h1>
      <HeadersLinks
        href1='/'
        title1='Strona Główna'
        href2='/services'
        title2='Usługi'
      />
    </div>
  </section>

  <section class='offers-section'>
    <div class='offers-wrapper'>
      <div class='card one'>
        <Image class='card-image' src={offer1} alt='therapist teaching kid' />
        <div class='card-container'>
          <div class='card-header-wrapper'>
            <Icon class='card-icon' name='speech' />
            <h3 class='card-header'>Diagnoza Logopedyczna</h3>
          </div>
          <p class='card-short-text'>
            Na diagnozę składa się wywiad biologiczno-środowiskowy z rodzicem,
            badanie słuchu fonemowego, ocena budowy i sprawności artykulatorów,
            badanie artykulacji. Przed pierwszą wizytą, proszę o przypomnienie
            najważniejszych faktów z rozwoju dziecka.
          </p>
          <span class='card-price'>Cena usługi - 150zł</span>
        </div>
      </div>

      <div class='text'>
        <Image class='sun-icon' src={sun} alt='cartoon-sun' />
        <h3 id="service1">Co to jest - diagnoza logopedyczna?</h3>
        <p class='text-long-description'>
          Diagnoza logopedyczna to zbiór zasad i metod badania, który ma na celu
          ocenę rozwoju oraz stanu mowy, jak też dookreślenie nieprawidłowości
          występujących w procesie komunikacji językowej. Postępowanie
          diagnostyczne najczęściej składa się z rozpoznania zaburzenia,
          wskazania terapeutycznego oraz prognozowania.
        </p>
        <h3>Jak przebiega proces diagnozy logopedycznej?</h3>
        <p class='text-long-description'>
          Diagnosta dokonuje oceny jakościowo-ilościowej zachowań językowych na
          podstawie badań logopedycznych, jak też – w razie potrzeby – na
          podstawie badań uzupełniających (na przykład laryngologicznych,
          foniatrycznych czy neurologicznych). Ważne są również patogeneza i
          mechanizm powstania zaburzenia. Na ich podstawie można przewidzieć
          tendencje rozwojowe różnych zjawisk logopedycznych.
        </p>
      </div>
    </div>

    <div class='offers-wrapper'>
      <div class='card two'>
        <Image class='card-image' src={offer2} alt='therapist teaching kid' />
        <div class='card-container'>
          <div class='card-header-wrapper'>
            <Icon class='card-icon' name='kids' />
            <h3 class='card-header'>Terapia Logopedyczna</h3>
          </div>
          <p class='card-short-text'>
            Techniki, metody i środki terapii ustalam z opiekunami
            indywidualnie.
          </p>
          <span class='card-price'>Cena usługi - 100zł</span>
        </div>
      </div>

      <div class='text'>
        <Image class='dices-icon' src={dices} alt='cartoon-dices' />
        <h3 id="service2">Na czym polega terapia logopedyczna?</h3>
        <p class='text-long-description'>
          Całość specyficznych, zamierzonych oddziaływań naprawczych,
          ukierunkowanych na usunięcie patologicznych zjawisk logopedycznych
          oraz ich konsekwencji psychologicznych, pedagogicznych, społecznych.
          Terapia logopedyczna ma na celu: usuwanie zaburzeń mowy, przywracanie
          mowy w przypadku jej utraty, podnoszenie poziomu sprawności językowej,
          nauczanie mowy, która się nie wykształciła, usuwanie trudności w nauce
          czytania i pisania.
        </p>
        <h3>Jak przebiega terapia logopedyczna?</h3>
        <p class='text-long-description'>
          Terapia logopedyczna może czasem przypominać zabawę z dzieckiem,
          szczególnie w trakcie stymulowania rozwoju mowy przy jego opóźnieniu.
          Terapia jest pracą: logopedy, dziecka i jego rodziców. Terapeuta
          dokłada wszelkich starań, aby dziecko było zainteresowane wykonywanymi
          zadaniami i chętnie reagowało na polecenia. Zdarza się, że zadania się
          powtarzają pod przykrywką innego działania, szczególnie w terapii wad
          wymowy.
        </p>
      </div>
    </div>

    <div class='offers-wrapper'>
      <div class='card three'>
        <Image class='card-image' src={offer3} alt='therapist teaching kid' />
        <div class='card-container'>
          <div class='card-header-wrapper'>
            <Icon class='card-icon' name='puzzle' />
            <h3 class='card-header'>Terapia Pedagogiczna</h3>
          </div>
          <p class='card-short-text'>
            Dążę do eliminacji przyczyn niepowodzeń szkolnych
          </p>
          <span class='card-price'>Cena usługi - 70zł</span>
        </div>
      </div>

      <div class='text'>
        <Image class='stars-icon' src={stars} alt='cartoon-stars' />
        <h3 id="service3">Terapia Pedagogiczna - terminologia</h3>
        <p class='text-long-description'>
          Terapia pedagogiczna to całokształt działań o charakterze
          korekcyjno-kompensacyjnym. Polega na usprawnianiu zaburzonych funkcji
          oraz doskonaleniu tych, które są dobrze rozwinięte. Wszystko to odbywa
          się pod “skrzydłami” terapeuty.
        </p>
        <h3>Cel terapii pedagogicznej</h3>
        <p class='text-long-description'>
          Terapia pedagogiczna ma na celu eliminację przyczyn oraz symptomów
          problemów w nauce, co umożliwia dziecku wszechstronny rozwój
          intelektualny, emocjonalny i społeczny. Skupia się na pobudzaniu
          funkcji percepcyjno-motorycznych, uzupełnianiu braków w
          umiejętnościach i wiedzy oraz pokonywaniu przeszkód w edukacji. Celem
          terapii jest również zmiana podejścia do trudności i niepowodzeń
          szkolnych oraz zwiększenie motywacji ucznia do nauki.
        </p>
      </div>
    </div>

    <div class='offers-wrapper'>
      <div class='card four'>
        <Image class='card-image' src={offer4} alt='therapist teaching kid' />
        <div class='card-container'>
          <div class='card-header-wrapper'>
            <Icon class='card-icon' name='blocks' />
            <h3 class='card-header'>Terapia Ręki</h3>
          </div>
          <p class='card-short-text'>
            Bazuję na poprawie nie tylko małej motoryki, ale i dużej.
          </p>
          <span class='card-price'>Cena usługi - 80zł</span>
        </div>
      </div>

      <div class='text'>
        <h3 id="service4">W czym pomaga terapia ręki?</h3>
        <p class='text-long-description'>
          Terapia ręki skupia się na poprawie funkcjonowania całej kończyny
          górnej, począwszy od barku, przez ramię, przedramię, aż po nadgarstek,
          dłoń i palce. Jej podstawowym zadaniem jest rozwijanie umiejętności
          wykonywania dokładnych ruchów dłoni i palców. Aby osiągnąć wysoki
          poziom zręczności w wykonywaniu precyzyjnych czynności, konieczna jest
          poprawna kondycja i sprawność całej ręki.
        </p>
        <h3>Kto może być terapeutą ręki</h3>
        <p class='text-long-description'>
          Terapię ręki może prowadzić osoba, która ukończyła kurs terapii ręki.
          Kursy przeznaczone są przede wszystkim dla nauczycieli, logopedów,
          pedagogów, psychologów i innych terapeutów. Mogą jednak skorzystać z
          nich wychowawcy, pedagodzy specjalni, nauczyciele wspomagający i inni
          specjaliści pracujący z dziećmi, a także rodzice.
        </p>
      </div>
    </div>
  </section>
</Layout>

<style>
  .sun-icon {
    position: absolute;
    top: -100px;
    right: 10px;
    width: 80px;
    pointer-events: none;
    object-fit: contain;
    animation: moving 6s ease-in infinite forwards;
  }
  .dices-icon {
    position: absolute;
    top: -100px;
    display: block;
    left: 5px;
    pointer-events: none;
    object-fit: contain;
    width: 70px;
  }
  .stars-icon {
    position: absolute;
    bottom: -30px;
    left: 15px;
    pointer-events: none;
    object-fit: contain;
    width: 90px;
    opacity: .7;
  }
  .offer-header-container {
    height: 300px;
    background-color: var(--rose-bg);
    background-image: url('/services-bg2.webp');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .offer-heading {
    font-family: var(--baloo-font);
    color: var(--text-blue);
    padding-left: 30px;
    font-size: clamp(1.7rem, 3vw, 3rem);
  }
  .offers-section {
    margin-bottom: 200px;
    padding-inline: 30px;
  }
  .offers-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-block: 40px;
    margin-bottom: 50px;
  }
  .card {
    border: 1px solid #f5f5f5;
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%;
    order: 2;
  }
  .one {
    border-bottom: 3px solid var(--rose-main);
  }
  .two {
    border-bottom: 3px solid var(--sea-blue);
  }
  .three {
    border-bottom: 3px solid rgb(252, 211, 128);
  }
  .four {
    border-bottom: 3px solid var(--text-blue2);
  }
  .card-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
  }
  .card-container::before {
    position: absolute;
    content: '';
    top: -13px;
    left: 0;
    background-image: url('/one-wave.webp');
    background-size: auto 100%;
    background-repeat: repeat-x;
    width: 100%;
    height: 13px;
  }
  .card-image {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
  }
  .card-header-wrapper {
    display: flex;
    gap: 15px;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
  }
  .card-icon {
    width: 55px;
    height: 55px;
  }
  .card-header {
    font-size: clamp(1.3rem, 1.3vw, 2rem);
    font-family: var(--baloo-font);
    color: var(--text-blue);
  }
  .card-short-text {
    font-family: var(--mulish-font);
    color: var(--grey);
    font-size: 0.8rem;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .card-price {
    color: var(--text-blue2);
    font-family: var(--baloo-font);
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .text {
    order: 1;
    background: var(--rose-bg);
    padding: 20px;
    position: relative;
    border-radius: 6px;
  }
  .text h3 {
    font-family: var(--mulish-font);
    font-weight: 700;
    font-size: clamp(1.4rem, 1.5vw, 2rem);
    color: var(--text-blue);
    margin-bottom: 10px;
  }
  .text-long-description {
    margin-bottom: 20px;
    color: var(--text-blue);
    font-size: clamp(0.9rem, 1.1vw, 1rem);
    font-family: var(--baloo-font);
    position: relative;
    z-index: 100;
  }
  @media (min-width: 900px) {
    .offer-header-wrapper {
      padding-left: 100px;
    }
    .offers-wrapper {
      /* padding-inline: 100px; */
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 70px;
    }
    div.offers-wrapper:nth-child(2) > div:nth-child(1),
    div.offers-wrapper:nth-child(4) > div:nth-child(1) {
      order: 2;
    }
    .card {
      width: 40%;
      order: 1;
    }
    .text {
      width: 40%;
      padding: 60px;
    }
  }
</style>
